<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="Password" value="jsqlllc" />
    <add key="UserID" value="jsqlllc" />
    <add key="Professionals" value="0B00AAF8-2DFB-4D89-9EA7-ADAA4552B04D" />
    <add key="SMTPServer" value="smtp.office365.com" />
    <add key="SMTPPort" value="587" />
    <add key="EventClass" value="Administration" />
    <add key="SMTPSecurity" value="True" />
    <add key="SMTPADDRESS" value="ITHCLIOP@chubb.com" />
    <add key="FailureTOADDRESS" value="ashwinkumarmr@gmail.com" />
    <add key="FailureCCADDRESS" value="ashwinkumarmr@gmail.com" />
    <add key="FailureBCCADDRESS" value="ashwinkumarmr@gmail.com" />
    <add key="SMTPPWD" value="SLPf69Wu" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Debug" value="False" />
    <add key="Server" value="NAUSP-WSQL0661B\SQL19A" />
    <add key="Database" value="ProLawFinance" />
    <add key="UseTrustedConnection" value="Y" />
  </appSettings>
  <connectionStrings>
    <add name="ARMailerDB" connectionString="Data Source=ASH-5CD2171T3M\SQLDEVELOPER;Initial Catalog=AREmailer_Test;Persist Security Info=True;Trusted_Connection=true;User ID=ashwin;Password=ashwin;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
